<ion-header *ngIf="film">
  <ion-toolbar >
    <ion-label>{{film.title}}</ion-label>
    <ion-buttons slot="start" color="dark">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="film">
  <ion-card>
    <img src="https://image1.infogame.vn/2019/05/16/moonphotobackyard800x800.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <p>{{film.opening_crawl}}</p>
    </ion-card-header>
    <ion-card-content>  
      <p>Director: {{film.director}}</p>
      <p>Producer: {{film.producer}}</p>
      <p>Release Date : {{film.release_date}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>