<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Tất cả bài hát
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button tab="tab1">
          <ion-icon name="musical-note"></ion-icon>
          <ion-label>Bài Hát</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tab2">
          <ion-icon name="microphone"></ion-icon>
          <ion-label>Ca Sĩ</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tab3">
          <ion-icon name="videocam"></ion-icon>
          <ion-label>Film</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </p>
</ion-content>