<ion-searchbar name="filter" id="filter" [(ngModel)]="searchText"></ion-searchbar>
<ion-content>
    <ion-list class="movie" *ngFor="let sing of sings | filter:searchText"  [routerLink]="['/tab1', sing.id]">
        <ion-item-group >
            <ion-item-divider color="light">
                <ion-label>{{sing.divider}}</ion-label>
            </ion-item-divider>
            <ion-avatar slot="start" *ngIf="visibleImage" >
                <img src="{{sing.image}}">
            </ion-avatar>
            <ion-label>
                <h3>{{sing.Name}}</h3>
                <p>{{sing.Singer}}</p>
            </ion-label>
        </ion-item-group>
    </ion-list>
</ion-content>